.sidebar {
  display: flex;
  flex: 0.3; // 30% of the screen, 70%はホームで使う。
  height: 100vh;

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202225;
    padding: 7px 15px; // 上下7px, 左右15px.

    .serverIcon {
      width: 60px;
      height: 60px;
      background-color: #35393E;
      border-radius: 9999px; // 完全な円形にする。
      margin-top: 10px;
      margin-bottom: 10px;
      position: relative; // サーバーアイコンを親要素として配置する。

      .discordIconImg {
        position: absolute; // それに対しての絶対値を決める。
        top: 50%; // 50%、
        left: 50%; // 50% 下げて、
        transform: translate(-50%, -50%); // 要素自体を50%戻す、と中央に寄る。
        width: 80%; // Discordアイコン用に調整
        border-radius: 10px; // Discordアイコン用に調整
      }

      img {
        position: absolute; // それに対しての絶対値を決める。
        width: 50px;
        top: 50%; // 50%、
        left: 50%; // 50% 下げて、
        transform: translate(-50%, -50%); // 要素自体を50%戻す、と中央に寄る。
      }
    }
  }

  .sidebarRight {
    background-color: #2F3136;
    width: 300px;
    position: relative;
    flex-grow: 1; // 空いている余白を成長させて一杯一杯使ってみる。<->成長させたくない場合は0。

    .sidebarTop {
      color: #fff;
      display: flex; // 横並びにする。
      align-items: center; // 交差軸に対して中央揃え。
      justify-content: space-between; // 余白を空ける。
      padding: 20px;
    }

    .sidebarChannels {
      padding: 13px;

      .sidebarChannelsHeader {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center; // AIC: 交差軸に対して中央揃え。
        margin-top: 5px;
      }

      .sidebarHeader {
        display: flex;
      }

      .sidebarAddIcon {
        cursor: pointer;
      }
    }

    .sidebarFooter {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 93%;
      padding: 10px;
      border-top: 1px solid #686e6e;
      padding-top: 10px;
      margin-left: -3px;
    }

    .sidebarAccount {
      display: flex;
      align-items: center;

      img {
        width: 60px;
        border-radius: 50%; // 完全な円形にする。
        cursor: pointer;
      }

      .accountName {
        margin-left: 5px;
      }

      h4 {
        color: #fff;
        font-weight: 500;
      }

      span {
        color: #686a6e;
      }
    }

    .sidebarVoice {
      display: flex;
      align-items: center;
      color: #686a6e;
    }
  }
}
